html {
  font-size: 30pt;
}
.counter-style {
  font-size: 50pt;

  div {
    font-size: 2rem;
  }

  input {
    font-size: 1.6em;
  }

  button {
    font-size: 1.5em;
    height: 100pt;
    width: 100pt;
  }
}